{
    "key": "your key here",
    "placeid": "your weather id here",
    "decor": {
        "background": "https://wallpaperaccess.com/full/869923.gif"
    },
    "media": {
        "youtube": "https://www.youtube.com/"
    }
}