{
    "openweather": {
        "key": "",
        "placeid": "",
        "units": 0,
        "//UNITS": "Use 0 for Celsius and 1 for Fahrenheit"
    },
    "decor": {
        "background": "https://wallpaperaccess.com/full/869923.gif",
        "name": "Person",
        "birthday": "1 January",
        "//BIRTHDAY": "BIRTHDAY MUST BE IN DD/MM FORMAT (example: 9 February)",
        "12hr": false,
        "holidays": true,
        "crazyholidays": false
    },
    "media": {
        "youtube": {
            "enabled": true,
            "link": "https://www.youtube.com/tv"
        },
        "lastfm": {
            "enabled": false,
            "key": "",
            "username": ""
        },
        "netflix": false
    },
    "process_manager": false
}