@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
    background-image: url("https://wallpapercave.com/wp/wp4203377.jpg")
}

.time {
    font-family: "San Francisco";
    text-align: center;
    
}

.date {
    font-family: "San Francisco";
}