/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #38b6ff;
    color: white;
}

.title {
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 5%;
}

.body {
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding-left: 25%;
    padding-right: 25%;
}
