<html>
<head>
    <title>Lightbox First Run</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1 class="title">Lightbox Setup</h1>
    <h3 class="body">This is the configuration wizard of Lightbox. Please select your desired options, then press the "Finished" button once you are done with configuring Lightbox.</h3>
    <select>
        
    </select>
</body>
</html>