<html>
    <head>
        <title>Lightbox Server</title>
        <link rel="stylesheet" href="/static/server.css">
    </head>
    <body>
        <center>
            <img class="load" src="/static/img/LightboxSpin.gif" length="256px" height="256px">
            <h1 class="header main-header centre">Lightbox</h1>
            <h3 class="body centre">To set up Lightbox, please access this page from another device, or access Lightbox from this address:<br><%= ip %>:8550</h3>
        </center>
    </body>
</html>